*{
    margin: 0;
    padding: 0;
}


li{
    list-style-type: none;
    display: inline-flex;
    
    
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    word-spacing: 60px;
        

}
.head-nav{
    display: flex;
    border: 1px solid black;
    font-family: 'Karla', sans-serif;
    padding-left: 30px;
    
}
.container{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
}
.card{
    background-color:  #D2C7F0;
    border: 1px solid black;
}
.description-head{
    font-size: 44px;
     margin-left: 15px;
     font-family: 'Karla', sans-serif;        
}
.description-end{
    margin-top: 30px;
    font-size: 20px;
    margin: 15px;
    font-family: 'Karla', sans-serif;
}
.products{
    margin-left:30px;
    width: 110px;
    height: 25px;
    margin-top: 50px;
    background-color: black;
    color: white;
    ;
}
.product2{
    margin-left:30px;
    width: 110px;
    height: 25px;
    margin-top: 50px;
    background-color:  #D2C7F0;
    color: black;
    border: 2px solid black;
}
.photo{
    
    /* margin-bottom: 500px;  */
     display:flex;
    float: right;
    border: 1px solid black;
    
}
a{
    text-decoration: none;
    color: black;
    word-spacing: 40px;
    margin-right: 70px;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    
}
